.nice-select {
    clear: none;
    margin-right: 10px;
}

.nice-select .list::-webkit-scrollbar {
    width: 10px;
}

.nice-select .list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.nice-select .list::-webkit-scrollbar-thumb {
    background: #888;
}

.nice-select .list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.delete-item {
    margin-left: 10px;
}

.stars {
    margin-right: 10px;
}

.item-container {
    position: relative;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}